/share/
/test.py
/venv/
managers/__pycache__/auth.cpython-311.pyc
managers/__pycache__/db.cpython-311.pyc
managers/__pycache__/ws.cpython-311.pyc
models/__pycache__/models.cpython-311.pyc
models/__pycache__/requests.cpython-311.pyc
models/__pycache__/response.cpython-311.pyc
pyfiles/__pycache__/routes.cpython-311.pyc
pyfiles/__pycache__/utils.cpython-311.pyc
