[Unit]
Description=messenger backend daemon
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/messenger_backend/
ExecStart=/home/messenger_backend/venv/bin/python3.11 main.py
Restart=always

[Install]
WantedBy=multi-user.target